<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird List</title>
    <link rel="stylesheet" href="/birdList.css">
</head>
<body>
    <h1>Bird List</h1>
    <ul>
        {{#each birds}}
            <li>
                <span>{{this.species_name}}</span>
                <form action="/birdList" method="POST">
                    <input type="hidden" name="birdId" value="{{this.id}}">
                    <button type="submit" class="remove-button">-</button>
                </form>
            </li>
        {{/each}}
    </ul>
    <div class="button-container">
        <form action="/dashboard" method="GET">
            <button type="submit" class="home-button">Back to Dashboard</button>
        </form>
    </div>
</body>
</html>


