<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Finder XD</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="container">
        <div class="welcome-message">Welcome to</div>
        <div class="program-name">Bird Finder XD</div>
        <form action="/" method="POST">
            <button type="submit" name="action" value="register">Register</button>
            <button type="submit" name="action" value="login">Login</button>
        </form>
    </div>
</body>
</html>
