/* CSS styles for bird details */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 50px;

    margin-bottom: 20px;
}

.bird-details {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.sighting p {

    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

button {
    
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}